.App {
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li {
  list-style: none;
}
.datas {
  /* border: 2px solid red; */
  border-radius: 10px;
  background-color: aliceblue;
  width: 60%;
  margin: auto;
}
span {
  color: blue;
}

.form-container {
  /* border: 2px solid red; */
  width: 35%;
  margin: auto;
  height: 120px;
  border-radius: 10px;
  background-color: lightgreen;
}

input {
  border-radius: 10px;
  /* border: none; */
  /* border-style: none; */
  height: 25px;
  border: 2px solid rgb(231, 121, 121);
}
