.App {
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li {
  list-style: none;
}
.datas {
  /* border: 2px solid red; */
  margin-top: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  width: 35%;
  margin: auto;
  position: relative;
  top: 20px;
}
span {
  color: blue;
}

.form-container {
  /* border: 2px solid red; */
  width: 35%;
  margin: auto;
  height: 120px;
  border-radius: 10px;
  background-color: lightgreen;
}

input {
  border-radius: 10px;
  /* border: none; */
  /* border-style: none; */
  height: 25px;
  /* line-height: 20px; */
  border: 2px solid rgb(231, 121, 121);
}
.update-btn {
  background-color: rgb(76, 76, 242);
  border-radius: 10px;
  height: 25px;
  border-style: none;
}
.sub-btn {
  background-color: rgb(7, 200, 7);
  border-radius: 10px;
  height: 25px;
  border-style: none;
}
.edit-btn{
  background-color: skyblue;
    border-radius: 10px;
  height: 24px;
  border-style: none;
}
.dlt-btn{
  background-color: red;
    border-radius: 10px;
  height: 24px;
  border-style: none;
}
.id{
 color: brown;
}